@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* Reseta as margens, preenchimentos e define a fonte padrão para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Define o layout do corpo da página */
body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    background-color: #fdf901;
}

/* Define o fundo da página */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 60%;
    background-image: url("../img/fundo.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/* Define o estilo do contêiner de erro */
.error-container {
    text-align: center;
    padding-top: 25px;
    justify-content: center;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    background-color: #fdf901;
    align-items: center;
    flex-direction: column;
}

/* Define o estilo do código de erro */
.error-code {
    font-size: 6rem;
    color: #f3214f;
    font-weight: 700;
}

/* Define o estilo da mensagem de erro */
.error-message {
    color: #333;
    font-size: 1.5rem;
    font-weight: 500;
}

/* Define o estilo do botão de voltar */
.go-back-btn {
    color: #fff;
    background-color: #f3214f;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 300;
    cursor: pointer;
    margin-top: 50px;
    transition: background-color 0.3s;
}

.go-back-btn:hover {
    background-color: #d81e3f;
}

/* Define os estilos para telas menores */

@media screen and (max-width: 900px) {
    body::before {
        width: 100%;
        height: 50%;
    }

    .error-container {
        width: 100%;
        top: 50%;
        position: absolute;
        padding: 50px;
    }

    .error-code {
        font-size: 4rem;
    }

    .error-message {
        font-size: 1.2rem;
    }

    .go-back-btn {
        font-size: 0.9rem;
    }
}

/* Adicione este código CSS para o efeito de digitação */
.error-code {
    overflow: hidden; /* Garante que o conteúdo não seja visível até ser 'digitado' */
    border-right: .15em solid orange; /* O cursor piscante */
    white-space: nowrap; /* Mantém o conteúdo em uma única linha */
    margin: 0 auto; /* Centraliza o conteúdo */
    letter-spacing: .15em; /* Espaçamento entre as letras */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* A animação de digitação */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* A animação do cursor piscante */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}
